<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CreateEmployee</servlet-name>
  	<display-name>CreateEmployee</display-name>
  	<description></description>
  	<servlet-class>com.ts.createemployee.servlets.CreateEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateEmployee</servlet-name>
  	<display-name>UpdateEmployee</display-name>
  	<description></description>
  	<servlet-class>com.ts.createemployee.UpdateEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteEmployee</servlet-name>
  	<display-name>DeleteEmployee</display-name>
  	<description></description>
  	<servlet-class>com.ts.createemployee.DeleteEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchEmployee</servlet-name>
  	<display-name>SearchEmployee</display-name>
  	<description></description>
  	<servlet-class>com.ts.createemployee.servlets.SearchEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReadingForm</servlet-name>
  	<display-name>ReadingForm</display-name>
  	<description></description>
  	<servlet-class>com.ts.employee.servlets.ReadingForm</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreateEmployee</servlet-name>
  	<url-pattern>/CreateEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmployee</servlet-name>
  	<url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteEmployee</servlet-name>
  	<url-pattern>/DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchEmployee</servlet-name>
  	<url-pattern>/SearchEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadingForm</servlet-name>
  	<url-pattern>/ReadingForm</url-pattern>
  </servlet-mapping>
</web-app>
